@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* declaring color variables  current scheme is for my solarized setup you can change them to fit your needs */

:root {
  --main-color: #050505;
  --tab-color: #7392E5;
}

/* hide back/forward buttons  we can use (alt+left|right ) instead */

#main-window :-moz-any(#back-button, #forward-button) {
  display: none;
}

/* hide close tab button we can use ( ctrl+w ) to close ( ctrl+t ) to open*/

.tab-close-button {
  display: none;
}

/* tab occupy all space 
   tab title font is reduced
*/

.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 100% !important;
  font-size: 0.9em !important;
}

/*
i don't really know what this do but removing it gives a weired behaviour when opening and closing tabs any analysis are welcome ^^
*/

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border: none !important;
}

/* here is a serie of color background changing to match my solarizd terminal color scheme */

.tab-line {
  background-color: var(--tab-color) !important;
}

.tab-background {
  border-top: none !important;
  background-attachment: none!important;
  background-color: var(--main-color) !important;
  background-image: none!important;
}

#nav-bar,
#urlbar-container,
#urlbar,
#PanelUI-menu-button {
  background-color: var(--main-color) !important;
}

/* hides a ugly black bottom background under each unfocused tab */

#navigator-toolbox {
  --tabs-border-color: none !important;
}

/* hides another ugly black bottom background under the urlbar container */

:root:-moz-lwtheme-brighttext {
  --toolbox-border-bottom-color: none !important;
}

/* reducing the tabs height more */

:root[uidensity="compact"] #titlebar,
:root[uidensity="compact"] #tabbrowser-tabs {
  --tab-min-height: 22px !important;
}

/* removing the useless padding and marging between elements of the urlbar etc..*/

#nav-bar,
#urlbar,
#PanelUI-menu-button {
  padding: 0px !important;
  margin: 0px !important;
}

:root:not([customizing]) #nav-bar > :not(#customizationui-widget-panel) {
  display: none !important;
}

:root:not([customizing]) #nav-bar {
  max-height: 0;
  min-height: 0 !important;
}

statuspanel[type="overLink"],
#statuspanel[type="overLink"] {
  top: 2em;
  z-index: 2;
  right: 0;
  display: inline;
}

#statuspanel {
  top: 2em;
  z-index: 2;
  right: 0;
  display: inline;
}
