:root {
    --main-color:#111822;
}
@-moz-document url("about:newtab"),url("about:blank"),url("about:home") {  
    body {
        background-color: var(--main-color) !important;
    }
    #newtab-search-text,.top-site-icon ,#onboarding-notification-bar,#onboarding-notification-action-btn,.card{
    	background-color: var(--main-color) !important;
    }
}
